<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMxURoSgQbSeR3mazyvn70m_Lijd6e-BA</string>
	<key>GCM_SENDER_ID</key>
	<string>121668168761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spamascotas</string>
	<key>PROJECT_ID</key>
	<string>registro-clientes-7149e</string>
	<key>STORAGE_BUCKET</key>
	<string>registro-clientes-7149e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121668168761:ios:6732052f77e303e46571e8</string>
</dict>
</plist>